.seccion-en-articulo {
    background-color: orange;
    border-radius: 3px;
    margin: 2px 2px 2px 2px;
    clear: both;
}

.imagen-de-lote {
    height: 100px;
    float: left;
}

.precio-base {
    float: left;
}

.precio-venta {
    float: right;
}