anyio==4.11.0
asgiref==3.10.0
click==8.3.1
contextlib2==21.6.0
contextvars==2.4
fastapi==0.121.2
h11==0.16.0
idna==3.11
immutables==0.21
importlib-metadata==8.7.0
pydantic==2.12.4
python-multipart==0.0.20
six==1.17.0
sniffio==1.3.1
starlette==0.50.0
typing_extensions==4.15.0
uvicorn==0.38.0
pytest==9.0.1
pytest-cov==7.0.0
mysql-connector==2.2.9
mysql-connector-python==9.5.0
ddt==1.7.2
