<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/estylo.acerca.css">
    <title>contacto-usuario</title>
</head>
<body>
    <header>
        <nav class="navbar-header">
            <a class="nav-logo" href="index.html"><img src="images/bidon_logo.svg" alt="Logo Bidon" width="150px" height="100px"></a>
            <ul class="menu">
                <li><a href="funcionamiento.html">Cómo funciona</a></li>
                <li><a href="subasta-martillero.html">Subastas</a></li>
                <li><a href="lotes.html">Lotes</a></li>
       
                <li><a href="login.html">Identificarse</a></li>
            
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="destacado">Remata con nosotros</h1>
            
        
        
        <h1 class="parrafo">Hay muchos motivos por los cuales podés necesitar realizar un remate: renovación
            de equipos, reducción de espacio físico, cierre definitivo del negocio, etc.
           ¿Por qué te conviene subastar tu negocio con nosotros?
           Contamos con experiencia en el mercado. Esto refleja nuestra transparencia y profesionalismo
           El cobro de nuestro trabajo es mediante comisión por venta, lo que te garantiza que buscaremos vender tus bienes a un precio justo y conveniente (tanto para vos como para tus compradores).⁣⁣
           Al aceptar el lote, realizamos una tasación previa a la puja para que cuentes con un valor estimado de la rentabilidad de la subasta. ⁣⁣
           Somos líderes en el mercado de remates.
           Contáctenos para realizar un remate con nosotros.</h1></br>
        </section>
            <footer>
        
        <h3><a href="contacto.html">"contacto"</h3>
              

          </div>  
            </footer>
    </main>
</body>
</html>