<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>Catálogo</title>
</head>

<body>
    <header>
        <nav class="navbar-header">
            <a class="nav-logo" href="index.html"><img src="images/bidon_logo.svg" alt="Logo Bidon" width="150px" height="100px"></a>
            <ul class="menu">
                <li><a href="acerca.html">Acerca de Nosotros</a></li>
                <li><a href="funcionamiento.html">Cómo funciona</a></li>
                <li><a href="subasta-martillero.html">Subastas</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="login.html">Identificarse</a></li>
            
            </ul>
        </nav>
    </header>

        <div class="contenido">
            <div class="col-md-12 mt-auto pb-4">
                <div class="container mt-5">
                    <div class="proximo text-center">
                        <div class="proximo text-center">
                            <h1 class="text-white">Catálogo</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="container">
        <section id="catalogo">
            <div class="row align-items-start">
                <div class="col">
                    <div class="row">
                        <div class="col-2">
                            <img src="images/juego de te.png" alt="imagen juego de te">
                        </div>
                        <div class="col-10">Juego de té - Valor de arranque: $9500</div>
                           <p>Importante juego de té alemán que consta de tetera, azucarera, lechera y 4 tazas.
                              Mide 20cm de alto por 18 cm de diámetro(tetera), 23cm de alto por 18 cm de diámetro (lechera) y 12 cm de diámetro por 12 cm de alto (azucarera).
                              Todo en perfecto estado.
                           </p>
                        </div>
                    </div>
                </div>        
            </div>
        </section>
    </div>
</body>
</html>