<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bs/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <title>Catálogo</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-light navbar-header">
                <div class="container-fluid">
                    <a class="navbar-brand nav-logo" href="index.html"><img src="images/bidon_logo.svg" alt="Logo Bidon" width="150px" height="100px"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navegacion" aria-controls="navegacion" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navegacion">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                            <li class="nav-item"><a class="nav-link" href="acerca.html">Acerca de nosotros</a></li>
                            <li class="nav-item"><a class="nav-link" href="funcionamiento.html">Cómo funciona</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Catálogo</a></li>
                            <li class="nav-item"><a class="nav-link" href="contacto-visitante.html">Contacto</a></li>
                            <li class="nav-item"><a class="nav-link" href="login.html">Identificarse</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-md-12 mt-auto pb-4">
                <div class="container mt-5">
                    <div class="text-center">
                        <h1 class="text-white">Catálogo</h1>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <section id="catalogo">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="row">
                            <div class="col-sm card aire-lote">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 1: Mesita auxiliar francesa</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Base: $10.000</h6>
                                    <img class="img-fluid" src="images/mesita-auxiliar-francesa.jpg" alt="mesita auxiliar francesa">
                                    <p class="card-text">Mesita auxiliar francesa con madera lavada y protegida realizada en caoba rayada con herrajes y regatones en bronce. Movimientos delicdados. 73 cm de alto, 40 cm de ancho y 30 cm de profundidad.</p>
                                </div>
                            </div>
                            <div class="col-sm card aire-lote">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 2: Bajo aparador</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Base: $25.000</h6>
                                    <img class="img-fluid" src="images/bajo-aparador.jpg" alt="bajo aparador">
                                    <p class="card-text">Bajo aparador en cedro con tapa de mármol con madera lavada y protegida. 102 cm de alto, 120 cm de ancho y 50 cm de profundidad.</p>
                                </div>
                           </div>
                       </div>
                        <div class="row">
                            <div class="col-sm card aire-lote">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 3: Juego de living Luis XVI</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Base: $25.000</h6>
                                    <img class="img-fluid" src="images/juego-living-luis-xvi.jpg" alt="juego living luis xvi">
                                    <p class="card-text">Hermoso juego de living estilo Luis XVI. Modelo cantarella con madera lavada y protegida. Tapizado a estrenar en lino antimancha, realizado en capitoné. Trabajo de ebanistería muy sobrio.</p>
                                </div>
                            </div>
                            <div class="col-sm card aire-lote">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 4: Juego de dormitorio provenzal</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Base: $45.000</h6>
                                    <img class="img-fluid" src="images/juego-dormitorio-provenzal.jpg" alt="juego dormitorio provenzal">
                                    <p class="card-text">Juego de dormitorio provenzal realizado en madera de cedro y roble con madera lavada y protegida y herrajes de bronce. Hermoso trabajo de ebanistería con laterales replanados.</p>
                                </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-sm card aire-lote">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 5: Antiguo respaldo de cama</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Base: $10.000</h6>
                                    <img class="img-fluid" src="images/antiguo-respaldo-cama.jpg" alt="antiguo respaldo de cama">
                                    <p class="card-text">Antiguo respaldo de cama estilo francés en madera lavada y tapizado en pana color natural, ideal para sommier tamaño King. Mide 2.06 metros de largo por 1.24 metros de alto.</p>
                                </div>
                            </div>
                            <div class="col-sm card aire-lote">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 6: Escritorio estilo inglés</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Base: $35.000</h6>
                                    <img class="img-fluid" src="images/escritorio-estilo-ingles.jpg" alt="escritorio estilo ingles">
                                    <p class="card-text">Escritorio estilo inglés con tapa de cuero en madera de roble lavada. 5 cajones y silla haciendo juego. 1.10 metros de largo, 50 cm de profundidad y 80 cm de altura.</p>
                                </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-sm card aire-lote">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 7: Ropero provenzal</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Base: $63.000</h6>
                                    <img class="img-fluid" src="images/ropero-provenzal.jpg" alt="ropero provenzal">
                                    <p class="card-text">Ropero provenzal desarmable para fácil translado. Realizado en roble y cedro con herrajes de bronce. Puerta para guardar prendas largas, puerta para guardar prendas cortas, cuatro cajones y triple estantería.</p>
                                </div>
                            </div>
                            <div class="col-sm card aire-lote">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 8: Fideera antigua</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Base: $110.000</h6>
                                    <img class="img-fluid" src="images/fideera-antigua.jpg" alt="fideera antigua">
                                    <p class="card-text">Alzada desmontable con 10 cajones con visor de vidrio por sección. Realizado en madera de roble lavada y protegida. 160 cm de alto, 164 cm de ancho y 60 cm de profundidad. Cada cajón mide 52 cm de profundidad.</p>
                                </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-sm card aire-lote">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 9: Juego de sillas inglesas</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Base: $60.000</h6>
                                    <img class="img-fluid" src="images/juego-sillas-inglesas.jpg" alt="juego sillas inglesas">
                                    <p class="card-text">Juego de seis sillas inglesas hechos en madera de roble lavada y protegida con respaldo en capitoné y tapizado a estrenar en Talampaya. Patas traseras en sable. 90 cm de alto, 50 cm de ancho y 50 cm de profundidad.</p>
                                </div>
                            </div>
                            <div class="col-sm card aire-lote">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 10: Vitrina oriental</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Base: $75.000</h6>
                                    <img class="img-fluid" src="images/vitrina-oriental.jpg" alt="vitrina oriental">
                                    <p class="card-text">Vitrina oriental de cuatro vientos con incrustaciones en nácar. Excelente chinoserie haciendo juego con ebanistería. Puertas laterales, boca llaves y herrajes de bronce y luz interior. Cristal viselado original. 161 cm de alto, 72 cm de ancho, 35 cm de profundidad.</p>
                                </div>
                           </div>
                        </div>
                    </div>        
                </div>
            </section>
        </div>
 
        <script src="/bs/js/popper.min.js"></script>
        <script src="/bs/js/bootstrap.min.js"></script>
    </body>
</html>