<html>
    <head>
        <title>Compras realizadas</title>
		<link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="bs/css/bootstrap.min.css">
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    </head>

    <body>
        <header>
            <nav class="navbar-header">
                <a class="nav-logo" href="index.html"><img src="images/bidon_logo.svg" alt="Logo Bidon" width="150px" height="100px"></a>
                <ul class="menu">
                    <li><a href="acerca.html">Acerca de Nosotros</a></li>
                    <li><a href="funcionamiento.html">Cómo funciona</a></li>
                    <li><a href="subasta-martillero.html">Subastas</a></li>
                    <li><a href="catalogo.html">Catálogos</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="login.html">Identificarse</a></li>
                
                </ul>
            </nav>
        </header>

        <div class="container">
            <section id="compras" class="seccion-en-articulo">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="row">
                            <div class="col-2">
                                <img class="img-fluid rounded-circle" src="images/no-image.svg" alt="foto mueble antiguo">
                            </div>
                            <div class="col-10">Mueble de la era victoriana de finales del siglo XIX con detalles en el enchapado.</div>

                        </div>
                        <div class="row">
                            <div class="col-2"></div>
				            <div class="col-5">Precio base: $10000</div>
				            <div class="col-5">Precio de venta: $45000</div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="compras" class="seccion-en-articulo">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="row">
                            <div class="col-2">
                                <img class="img-fluid rounded-circle" src="images/no-image.svg" alt="foto auricular vintage">
                            </div>
                            <div class="col-10">Auricular vintage de los 70s en funcionamiento.</div>

                        </div>
                        <div class="row">
                            <div class="col-2"></div>
				            <div class="col-5">Precio base: $2000</div>
				            <div class="col-5">Precio de venta: $3100</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
