<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bs/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <title>Mis consignaciones</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-light navbar-header">
                <div class="container-fluid">
                    <a class="navbar-brand nav-logo" href="index.html"><img src="images/bidon_logo.svg" alt="Logo Bidon" width="150" height="100"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navegacion" aria-controls="navegacion" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navegacion">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                            <li class="nav-item"><a class="nav-link" href="acerca.html">Quiénes somos</a></li>
                            <li class="nav-item"><a class="nav-link" href="funcionamiento.html">Cómo funciona</a></li>
                            <li class="nav-item"><a class="nav-link" href="catalogo.html">Catálogo</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Mis consignaciones</a></li>
                            <li class="nav-item"><a class="nav-link" href="contacto.html">Contacto</a></li>
                            <li class="nav-item"><a class="nav-link" href="perfil.html">Perfil</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-md-12 mt-auto pb-4">
                <div class="container mt-5">
                    <div class="text-center">
                        <h1 class="text-white">Mis consignaciones</h1>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <section id="catalogo">
                <div class="row align-items-start">
                    <div class="col">
                        <div class="row">
                            <div class="col-sm card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 32: Mesita auxiliar francesa</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Tasación: $16.000</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Precio subastado: $19.500</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Honorarios (10%): $1.950</h6>
                                    <img class="img-fluid" src="images/mesita-auxiliar-francesa.jpg" alt="mesita auxiliar francesa">
                                    <p class="card-text">Mesita auxiliar francesa con madera lavada y protegida realizada en caoba rayada con herrajes y regatones en bronce. Movimientos delicdados. 73 cm de alto, 40 cm de ancho y 30 cm de profundidad.</p>
                                </div>
                            </div>
                            <div class="col-sm card m-2">
                                <div class="card-body">
                                    <h5 class="card-title">Orden 42: Bajo aparador</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Tasación: $60.000</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Precio subastado: $58.000</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Honorarios (9%): $5.220</h6>
                                    <img class="img-fluid" src="images/bajo-aparador.jpg" alt="bajo aparador">
                                    <p class="card-text">Bajo aparador en cedro con tapa de mármol con madera lavada y protegida. 102 cm de alto, 120 cm de ancho y 50 cm de profundidad.</p>
                                </div>
                           </div>
                       </div>
                    </div>        
                </div>
            </section>
        </div>

        <script src="bs/js/popper.min.js"></script>
        <script src="bs/js/bootstrap.min.js"></script>
    </body>
</html>
