<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>Contacto</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light navbar-header">
            <div class="container-fluid">
                <a class="navbar-brand nav-logo" href="index.html"><img src="images/bidon_logo.svg" alt="Logo Bidon" width="150px" height="100px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navegacion" aria-controls="navegacion" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navegacion">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                        <li class="nav-item"><a class="nav-link" href="acerca.html">Acerca de Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="funcionamiento.html">Cómo funciona</a></li>
                        <li class="nav-item"><a class="nav-link" href="subasta.html">Subasta</a></li>
                        <li class="nav-item"><a class="nav-link" href="catalogo.html">Catálogo</a></li>
                        <li class="nav-item"><a class="nav-link" href="compras.html">Mis compras</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" href="perfil.html">Perfil</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="col-md-12 mt-auto pb-4">
            <div class="container mt-5">
                <div class="text-center">
                    <h1 class="text-white">Contacto</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <section id="sectionParrafo">
            <p>Hola @Usuario</p>
            <p>Para contactar con el administrador llená el siguiente formulario</p>
        </section>
            
        <section class="seccion-form">
            <form id="contact-form" action="contact" method="post" class="form-register">
                <input class="menu" type="text" name="subjet" placeholder="Escribe aquí el asunto..." title="Asunto es un campo requerido" required>
                <textarea class="menu-sin-altura-maxima" name="coments" cols="50" rows="5" placeholder="Escribe aquí el mensaje..." title="Tu comentario no debe exceder los 1600 caracteres" data-pattern= "^.{1,1600}$" required></textarea>
                <input type="submit" value="Enviar">
            </form>     
        </section>
    </div>

    <script src="/bs/js/popper.min.js"></script>
    <script src="/bs/js/bootstrap.min.js"></script>
</body>
</html>