<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>Como funciona</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light navbar-header">
            <div class="container-fluid">
                <a class="navbar-brand nav-logo" href="index.html"><img src="images/bidon_logo.svg" alt="Logo Bidon" width="150px" height="100px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navegacion" aria-controls="navegacion" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navegacion">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                        <li class="nav-item"><a class="nav-link" href="acerca.html">Acerca de nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="funcionamiento.html">Cómo funciona</a></li>
                        <li class="nav-item"><a class="nav-link" href="catalogo.html">Catálogo</a></li>
                        <li class="nav-item"><a class="nav-link" href="contacto-visitante.html">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" href="login.html">Identificarse</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="col-md-12 mt-auto pb-4">
            <div class="container mt-5">
                <div class="text-center">
                    <h1 class="text-white">Como funciona</h1>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <p class="parrafo"><strong>Funcionamiento General:</strong><br><br>
                En nuestra página principal usted va a encontrar el anuncio de nuestra
                próxima subasta. También puede acceder, en la barra de nevegación, a la sección "Catálogo", donde encontrará
                el listado de lotes que serán subastados, en la fecha anunciada, junto a sus imágenes correspondientes.
                Para poder participar de la "Subasta" deberá registrarse, previamente, en la sección "Identificarse".
                Una vez logueado podrá,  el día anunciado, acceder a la misma de manera online. Ese día se subastarán
                en vivo los lotes publicados con anterioridad en la sección "Catálogo"<br><br>
                <strong>En la Subasta:</strong><br><br>
                Se presentarán los lotes en un orden predeterminado y usted podrá pujar por ellos de acuerdo a su interés. Las
                pujas podrán realizarse por un monto fijo que le aparecerán como botones en la ventana de la "Subasta". Una vez
                que el martillero estime que se ha llegado a la puja más alta, el lote se cerrará y se considerará como vendido
                al pujador que haya realizado tal acción. <br><br>
                <strong>Finalizada la Subasta:</strong><br><br>  
                Una vez finalizada la "Subasta" usted recibirá un detalle de los objetos que ha adquirido (si fuera el caso), junto
                con el importe de comisiones, impuestos y monto total. <br><br>
                Ante cualquier duda puede comunicarse con nosotros a través de la página de "Contacto", que encontrará en la barra
                de navegación.

            </p>
        </div>
    </section>

    <script src="/bs/js/popper.min.js"></script>
    <script src="/bs/js/bootstrap.min.js"></script>
</body>



</body>
</html>