<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Reestablecer Contraseña</title>
    
</head>
<body>
    <header>
        <nav class="navbar-header">
            <a class="nav-logo" href="index.html"><img src="images/bidon_logo.svg" alt="Logo Bidon" width="150px" height="100px"></a>
            <ul class="menu">
                <li><a href="acerca.html">Acerca de Nosotros</a></li>
                <li><a href="funcionamiento.html">Cómo funciona</a></li>
                <li><a href="subasta-martillero.html">Subastas</a></li>
                <li><a href="lotes.html">Lotes</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="login.html">Identificarse</a></li>
            
            </ul>
        </nav>
    </header>

        <p><h1>Ingrese su e-mail. Recibira un enlace para establecer una nueva contraseña</h1></p>
    <form name="contact" method="POST" data-netlify="true" type="email">

        <p>          <label>E-mail</E-mail> <input type="email" name="email" required autofocus="email" 
            sice="5" maxlength="20" name="email" placeholder="E-mail" /></label>
        </p>
      
          <button type="submit">Enviar</button>
        </p>
    </form>
    
 




</body>
</html>
