<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bs/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <title>Registración</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-light navbar-header">
                <div class="container-fluid">
                    <a class="navbar-brand nav-logo" href="index.html"><img src="images/bidon_logo.svg" alt="Logo Bidon" width="150" height="100"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navegacion" aria-controls="navegacion" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navegacion">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                            <li class="nav-item"><a class="nav-link" href="acerca.html">Quiénes somos</a></li>
                            <li class="nav-item"><a class="nav-link" href="funcionamiento.html">Cómo funciona</a></li>
                            <li class="nav-item"><a class="nav-link" href="catalogo.html">Catálogo</a></li>
                            <li class="nav-item"><a class="nav-link" href="contacto-visitante.html">Contacto</a></li>
                            <li class="nav-item"><a class="nav-link" href="login.html">Identificarse</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-md-12 mt-auto pb-4">
                <div class="container mt-5 p-2">
                    <div class="text-center">
                        <h1 class="text-white">Registración</h1>
                    </div>
                </div>
            </div>
        </header>

        <div class="container p-3">
            <section class="seccion-form">

                <form method="post" class="form-register" action="http://ec2-18-219-83-7.us-east-2.compute.amazonaws.com:8000/registrar">
                    <label for="nombre">Nombre:</label><br>
                    <input class="menu"  type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre"><br>
                    <label for="apellido">Apellido:</label><br>
                    <input class="menu"  type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido"><br>
                    <label for="email">Correo electrónico:</label><br>
                    <input class="menu"  type="email" name="email" id="email" placeholder="email" required><br>
                    <label for="usuario">Nombre de usuario:</label><br>
                    <input class="menu"  type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario" required><br>
                    <label for="password">Contraseña:</label><br>
                    <input class="menu"  type="password" name="clave" id="clave" maxlength="20" required><br>
                    <label for="nacimiento">Fecha de Nacimiento:</label><br>
                    <input class="menu"  type="date" name="nacimiento" id="nacimiento"><br>
                    <input class="buton" type="submit" value="Registrarse">
                    <p><a href="login.html">Ya tengo cuenta</a></p>
                </form>
            </section>
        </div>

        <script src="bs/js/popper.min.js"></script>
        <script src="bs/js/bootstrap.min.js"></script>
    </body>
</html>
